<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Site.min.css"/>
</head>
<body>

    <div class="horizontal-align">
        <ul class="nav-horizontal horizontal-align">
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
        </ul>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Peter and Justin</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
